@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@300&display=swap');


header {
background-color: #551C25;
color: white;
padding: 20px;
grid-area: header;
}

nav {
    background-color: #262930;
    grid-area: nav;
}

main {
    background-color: #010103;
    color: white;
    grid-area: main;
}



aside {
    background-color: #470812;
    grid-area: aside;
}

footer 
{background-color: #551C25;
color: white;
grid-area: footer;
}
nav ul {

    list-style: none;
}

.icons {
    font-size: 70px;
    grid-template-columns: repeat(3, auto);text-align: center; 
    color: #010103;
}
