body {
    display: grid;
    grid-template-columns: 20% 60% 20%;grid-template-rows: auto;grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer";

}

nav ul {
    list-style-type: none;display: grid;grid-template-columns: repeat(5, auto);text-align: center;
    list-style: none;
}

header a {
    display: none;
}

img{
    height: 200px;
    width: 200px;
    margin-left: 800px;
    margin-bottom: 10px;
}